<ion-header>
<ion-toolbar color="success">
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
    <ion-title>Téléconsultation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p> Faites vous consulter par un profesionnel.</p>
  <ion-button shape="round" expand="block" color="success" >
    Vidéo Consultation
  </ion-button>

  <ion-button shape="round" expand="block" color="success" href="/medicaments">
    Consulation
  </ion-button>

  <ion-button shape="round" expand="block" color="success" href="/video-consultation">
    Popularité
  </ion-button>

</ion-content>
