<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Parametre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding [fullscreen]="true">
    <ion-item>
        <ion-label>Dark Theme</ion-label>
        <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
    
    <ion-item>
      <ion-label>Details</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleT($event)'></ion-toggle>
    </ion-item>
    
    <ion-button  shape="round" fill="outline" expand="block" color="success" (click)="profil()">profil</ion-button>
    <ion-button  shape="round" fill="outline" expand="block" color="success" (click)="userconnect()">tel cons</ion-button>
    <ion-button  shape="round" fill="outline" expand="block" color="success" (click)="bmw()">acceuil con</ion-button>

</ion-content>
