--ion-card-title{
    color: blue;
}

#col{
    color: blue;
    font-style:oblique;
    font-weight:bold;
}

#back{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 6px 6px 3px rgba(0, 0, 255, .2);
}
