<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>bluetooth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button full color="primary" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices</ion-button>
  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}" ></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-button full color="primary" *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices</ion-button>
  
  <ion-list>
    <ion-item>
      <ion-button small color="success" (click)="btnOnClicked()">ON</ion-button> signal 1
    </ion-item>
    <ion-item>
      <ion-button small color="danger" (click)="btnOffClicked()">OFF</ion-button> signal 2
    </ion-item>
  </ion-list>
  
</ion-content>
